.time_topic + .time_topic {
   margin-top: 20 px;
}

.time_topic {
   height: 500px;
}

.title {
   color: rgba(22, 24, 35, 0.5);
   font-weight: 600;
   font-size: 14px;
   line-height: 20px;
   padding: 0px 16px;
   margin-top: 8px;
}
