.wrapper {
    padding: 0 55px;
    .header{
        color: rgb(22, 24, 35);
        font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
        font-size: 30px;
        margin: 16px auto;
        font-weight: bold;
        text-align: center;
    }
    .content {
        .dateOfBirth {
            .dateOfBirth_header{
                margin-bottom: 4px;
                color: rgb(22, 24, 35);
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 4px;
            }
            .dateOfBirth_content{
                display: flex;
                justify-content: space-between;
            }
            .dateOfBirth_subTile {
                margin-top: 4px;
                color: rgba(22, 24, 35, 0.5);
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 16px;
            }
        }
    }
    .buttonWrapper {
        display: flex;
        justify-content: center;
        .submitButton {
            margin-top: 20px;
           padding: 10px 0;
        }
    }
}

