.fixBugTippy {
   height: 30px;
}
.mailBox {
   position: relative;
   font-size: 22px;
   height: 30px;
   color: #161823;
   padding: 0px 12px;
}

.mailBox_message {
   position: absolute;
   top: 0%;
   right: 13%;
   font-size: 13px;
   font-weight: 700;
   width: 23px;
   line-height: 15px;
   height: 15px;
   background-color: red;
   color: white;
   border-radius: 45%;
}
