.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    animation: opacity;
    animation-duration: 0.2s;
    animation-timing-function: linear;     
    animation-fill-mode: forwards; 
    .content {
        animation: expandFromMid;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;                  
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        width: 483px;
        height: 80vh;
        .backButton {
            float: left;
            font-size: 23px;
            margin-top: 25px;
            margin-left: 25px;
            cursor: pointer;
        }
        .exitButton {
           position: relative;
            margin: 15px;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 15px;
            background-color: #f8f8f8;
            cursor: pointer;
            .exit{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}

@keyframes expandFromMid{
    from {
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacity{
    from {
        opacity: 0;
       
    }to{
        opacity: 1;
        
    }
}