.videoWrapper {
   .videoResize{
      height: 100%;
      background-color: black;
      border-radius: 10px;
      display: flex;
      align-items: center;
   } 
   .video {
      border-radius: 5px;
      width: calc(100%);
   }
   .videoContent {
      margin: 5px 3px;
      width: 100px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
   }
   .img {
      border-radius: 5px;
      width: calc(100%);
   }
}
