.wrapper {
   position: relative;
}
.replyTo {
   background-color: #fff;
   position: absolute;
   top: -32%;
   padding: 4px;
   border: 1px rgb(86, 4, 4) solid;
   border-color: rgb(86, 4, 4) rgb(86, 4, 4) transparent rgb(86, 4, 4);
   // padding: -;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   left: 3%;
   .replyTo_content {
      display: flex;
      align-items: center;
      .replyTo_title {
         color: var(--main-color);
      }
      .replyTo_icon {
         margin-left: 10px;
         font-size: 10px;
         cursor: pointer;
      }
   }
}

.typingZone {
   display: flex;
   padding: 20px 30px;
   align-items: center;
   .typingZone_input {
      flex: 1;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 10px 10px;
      background-color: #f1f1f2;
      .input {
         background-color: #f1f1f2;
         flex: 1;
      }
      .emotionIcon {
         cursor: pointer;
         width: 22px;
         height: 22px;
         margin-right: 9px;
      }
      .captionIcon {
         cursor: pointer;
         margin-right: 15px;
      }
   }
   .post {
      text-align: right;
      color: rgba(22, 24, 35, 0.34);
      font-size: 15px;
      width: 48px;
   }
   .postActive {
      text-align: right;
      cursor: pointer;
      color: var(--main-color);
      font-size: 15px;
      width: 48px;
   }
}
