.wrapper {
   box-shadow: none;
   padding: 16px 0;
   border-top: 1px rgba(0, 0, 0, 0.1) solid;

   .header {
      margin-bottom: 8px;
   }

   .content {
      color: rgba(22, 24, 35, 0.5);
      font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
      display: inline-block;
      margin-right: 6px;
      margin-top: 5px;

      &:hover {
         text-decoration: underline;
      }
   }
}
