.fixBugTippy {
   height: 26px;
}
.messageButton {
   position: relative;
}
.notification {
   position: absolute;
   bottom: 61%;
    right: -18%;
   font-size: 13px;
   font-weight: 700;
   width: 23px;
   line-height: 15px;
   height: 15px;
   background-color: red;
   color: white;
   border-radius: 45%;
}
