.wrapper {
   display: flex;
   justify-content: space-between;
   padding: 10px 16px;

   .info {
      flex: 1;
      display: flex;
      flex-direction: column;

      .main__Name {
         font-size: 15px;
         font-weight: 600;
      }
      .sub__Name {
         font-size: 14px;
         color: rgba(22, 24, 35, 1);
      }
      .checkIcon {
         margin-left: 8px;
         font-size: 14px;
         color: rgb(32, 213, 236);
      }
      .message {
         font-size: 14px;
         color: rgba(22, 24, 35, 0.5);
         overflow: hidden;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 1;
      }
   }

   .image {
      height: 48px;
      width: 48px;

      border-radius: 50%;
      object-fit: cover;
      margin-right: 12px;
   }

   .followBackButton {
      width: 92px;
      height: 29px;
      font-family: ProximaNova, PingFangSC, sans-serif;
      font-size: 14px;
      min-width: none;
      align-self: center;
   }
   .CurrentFollowButton {
      display: flex;
      align-items: center;
      line-height: 8px;
      border: 1px solid rgba(22, 24, 35, 0.12);
      width: 92px;
      height: 29px;
      font-family: ProximaNova, PingFangSC, sans-serif;
      font-size: 14px;
      align-self: center;

      &:hover {
         border-color: rgb(208, 209, 211);
         background-color: rgb(248, 248, 248);
      }
   }

   &:hover {
      background-color: rgb(248, 248, 248);
   }
}
